:root {
  --themewhite: rgba(255, 255, 255, 1);
  --themewarning: rgba(241, 114, 40, 1);
  --themegray-600: rgba(117, 117, 117, 1);
  --themegray-500: rgba(158, 158, 158, 1);
  --themegray-100: rgba(245, 245, 245, 1);
  --themeprimary: rgba(255, 179, 14, 1);
  --themegray-800: rgba(66, 66, 66, 1);
  --themegray-900: rgba(33, 33, 33, 1);
  --headline-6-font-family: "SourceSans Pro-Regular", Helvetica;
  --headline-6-font-weight: 400;
  --headline-6-font-size: 22px;
  --headline-6-letter-spacing: 0px;
  --headline-6-line-height: 120.00000476837158%;
  --headline-6-font-style: normal;
  --button-bold-font-family: "SourceSans Pro-Bold", Helvetica;
  --button-bold-font-weight: 700;
  --button-bold-font-size: 18px;
  --button-bold-letter-spacing: 0px;
  --button-bold-line-height: 100%;
  --button-bold-font-style: normal;
  --body-1-font-family: "OpenSans-Regular", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 18px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 139.9999976158142%;
  --body-1-font-style: normal;
  --subtitle-1-font-family: "OpenSans-Regular", Helvetica;
  --subtitle-1-font-weight: 400;
  --subtitle-1-font-size: 18px;
  --subtitle-1-letter-spacing: 0px;
  --subtitle-1-line-height: 139.9999976158142%;
  --subtitle-1-font-style: normal;
  --body-1-bold-font-family: "OpenSans-Bold", Helvetica;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 18px;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: 139.9999976158142%;
  --body-1-bold-font-style: normal;
  --headline-6-bold-font-family: "SourceSans Pro-Bold", Helvetica;
  --headline-6-bold-font-weight: 700;
  --headline-6-bold-font-size: 22px;
  --headline-6-bold-letter-spacing: 0px;
  --headline-6-bold-line-height: 120.00000476837158%;
  --headline-6-bold-font-style: normal;
  --headline-4-bold-font-family: "SourceSans Pro-Bold", Helvetica;
  --headline-4-bold-font-weight: 700;
  --headline-4-bold-font-size: 43px;
  --headline-4-bold-letter-spacing: 0px;
  --headline-4-bold-line-height: 112.00000047683716%;
  --headline-4-bold-font-style: normal;
  --button-font-family: "SourceSans Pro-Regular", Helvetica;
  --button-font-weight: 400;
  --button-font-size: 18px;
  --button-letter-spacing: 0px;
  --button-line-height: 100%;
  --button-font-style: normal;
  --header-9-font-family: "Exo2-Regular", Helvetica;
  --header-9-font-weight: 400;
  --header-9-font-size: 15px;
  --header-9-letter-spacing: 0px;
  --header-9-line-height: 120.00000476837158%;
  --header-9-font-style: normal;
  --headline-5-bold-font-family: "SourceSans Pro-Bold", Helvetica;
  --headline-5-bold-font-weight: 700;
  --headline-5-bold-font-size: 35px;
  --headline-5-bold-letter-spacing: 0px;
  --headline-5-bold-line-height: 120.00000476837158%;
  --headline-5-bold-font-style: normal;
  --object-shadow-2: 0px 27px 82px 0px rgba(255, 174, 0, 0.28), 0px 14px 15px 0px rgba(255, 174, 0, 0.01);
  --button-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
  --shadow-2: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}
