:root {
    --x-1: rgba(138, 121, 223, 1);
    --x-3: rgba(240, 187, 31, 1);
    --x-4: rgba(241, 90, 43, 1);
    --x-1st: rgba(33, 40, 50, 1);
    --white: rgba(255, 255, 255, 1);
    --text-clr: rgba(94, 98, 130, 1);
    --x-3rd: rgba(20, 24, 62, 1);
    --circle: rgba(245, 245, 245, 1);
    --text-2: rgba(132, 130, 154, 1);
    --black: rgba(8, 8, 9, 1);
    --light-color: rgba(223, 215, 249, 1);
    --text-color: rgba(57, 66, 93, 1);
  }